* { margin:0; padding:0; box-sizing:border-box;
background: transparent;
}

td span {
  display: inline-block;
  width: 100%;
  padding-left: 2px;
  border-radius: 2px;
  color: #fff;
}

.selection{
  display: block;
  position: absolute;
  left: 20px;
  top: 48px;
}

details[open] summary:before {
  content: "-";
  margin-top: -4px;
}

details {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  box-shadow: 0 1px 0px rgba(0, 0, 0, .4);
  margin: 0 0 .4em;
  padding: 5px;
}

summary:hover, details[open] summary {
  background: #e5e5e5;
}

summary {
  border-radius: 4px;
  margin: -5px;
  outline: none;
  font-size: 14pt;
  cursor: pointer;
  background-color: #F7F7F7;
  padding: 8px 0;
}

summary:after {
  content: '';
}

summary:before {
  content: "+";
  float: left;
  font-size: 1.5em;
  margin: 0px 10px;
  text-align: center;
  width: 20px;
  color: #73b9df
}


/* remove arrow */

summary::-webkit-details-marker {
  display: none
}


/* details fade In */

details[open] SUMMARY~* {
  animation: fadeIn .5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    margin-top: -10px
  }
  100% {
    opacity: 1;
    margin-left: 0px
  }
}

.diagramContainer {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  position: relative;
}

svg {
  overflow: visible;
}

html, body, div, h1, h2, h3, h4, h5, h6, p, table, tbody, tfoot, thead, tr, th, td, {
  margin: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

html {
  background-color: #bfbfbf;
}

body {
  padding: 10px;
  border-radius: 2px;
  color: #3f3f3f;
  background-color: #0069a2;
  margin: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
}


.tile {
  background: white;
  padding: 15px;
  margin-bottom: 20px;
  border: 1.5px solid #f7f7f7;
  border-bottom-width: 3px;
  display: block;
  border-radius: 3px;
}

h2, h3, h4 {
  color: #0080c5;
}

h1, h3, h4, h5, p {
  margin-bottom: 22px;
}

h1 {
  font-size: 22px;
  line-height: 44px;
  color: #fff;
  font-weight: lighter;
}

h2 {
  font-size: 20px;
  line-height: 44px;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
  font-weight: 900
}

h5 {
  color: #a9b2b9;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

table {
  text-align: left;
  margin-bottom: 44px;
  margin-top: 30px;
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  background-color: #0080c5;
  color: #fff;
  text-transform: uppercase;
  padding: 10px 15px;
  width: 20%;
  font-size: 14px;
}

td {
  padding: 21px 22px 0 22px;
  width: 40%;
  border-bottom: 1px solid #dfe2e5;
}

div.tooltip {
  color: white;
  border: 1px solid lightgray;
  position: absolute;
  text-align: left;
  padding: 2px;
  font: 12px sans-serif;
  background: rgb(0, 50, 84);
  border-radius: 4px;
  pointer-events: none;
}

.area {
  fill: #0080c5;
}
